<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Conn" connectionString="server=DESKTOP-TQQQQGJ\FOOD;database=FoodOption;uid=sa;pwd=2106202987;" />
    <add name="FoodApp.Properties.Settings.FoodOptionConnectionString"
      connectionString="Data Source=DESKTOP-TQQQQGJ\FOOD;Initial Catalog=FoodOption;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
       <add name="DbConn" connectionString="Data Source=the name of your database;User Id=UserName;Password=Password;"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

</configuration>