<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Conn" connectionString="server=DESKTOP-TQQQQGJ\FOOD;database=FoodOption;uid=sa;pwd=2106202987;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
